<!DOCTYPE html>
@*@section banner {
    @Html.Partial("~/Views/Shared/LayoutBanner")
}*@
@using Proteus.Notification

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.2.716/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/messagebox/messagebox.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/kendo/2014.2.716/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.716/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.2.716/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/kendo.culture.el-GR.min.js")"></script>
    <script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/messagebox/messagebox.js")"></script>
    <script src="@Url.Content("~/Scripts/custom/jspCustom.js")"></script>

    @*<script src="@Url.Content("~/Scripts/kendo/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/jquery-ui-1.11.4.js")"></script>
    <script src="@Url.Content("~/Scripts/MyAlert.js")" type="text/javascript"></script>*@
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    <script>
    kendo.culture("el-GR");
    </script>
    <!-- mvcNotify script -->
    <script type="text/javascript">
        //Set autoclear of messages. Don't put this into $(document).ready.
        //mvcNotify.autoClearTimeout = 0; //don't autoclear any types
        mvcNotify.autoClearTimeout = 8000; //Unit of milliseconds.
        mvcNotify.typesToConsoleLog = "all"; //Log all types to console.
    </script>

    <!-- Clock scripts -->
    <script src="@Url.Content("~/Clock/coolclock.js")"></script>
    <script src="@Url.Content("~/Clock/moreskins.js")"></script>
    <script src="@Url.Content("~/Clock/excanvas.js")"></script>

</head>
<body style="background-color:whitesmoke">
    <div id="mvcNotify" style="display: none;float:right;z-index:1024;position:absolute;top:8%;left:50%;right:3%;padding:10px 5px 5px 20px;">
        @Html.RenderMessages()
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" style="max-height:52px">
        <div class="body-content">
            <div class="navbar-header" style="font-family:'Segoe UI';font-size:14px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Proteus >", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="font-family:'Segoe UI';font-size:16px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Αρχική", "Index", "Home")</li>
                    <li>@Html.ActionLink("Περιγραφή", "About", "Home")</li>
                    <li>@Html.ActionLink("Επικοινωνία", "Contact", "Home")</li>
                </ul>
                <div class="nav navbar-text navbar-right" style="float:right;color:white;vertical-align:middle;font-size:14px">
                    Χρήστης: @Html.Raw((string)ViewBag.loggedUser)
                    <input type="button" class="btn btn-danger" style="font-size:12px" value="Αποσύνδεση" onclick="location.href='@Url.Action("Logout", "Home" )'" />
                </div>               
            </div>    
        </div>
    </div>
    <div class="banner" style="background-color:dimgray;padding-top:4px;max-height:64px">
        <div class="row" style="background-color:transparent">
            <div class="col-md-1">
                <img src="~/images/proteus-logo-white.png" height="48" width="48" style="margin-top:4px">
            </div>
            <div class="col-md-4" style="background-color:transparent">
                <p class="header" style="margin-top:2px;background-color:transparent;font-size:38px">P r o t e u s</p>
            </div>
            <div class="col-md-offset-6 col-md-1">
                <canvas style="float:right" id="clockid" class="CoolClock:swissRail:30:0"></canvas>
            </div>
        </div>
    </div>
    <div class="page-header" style="margin:10px 20px 0px 20px;">
        <span style="font-family:'Segoe UI';font-size:17px;text-shadow:1px 1px dimgray">
            <font style="color:#292929;font-family:'Segoe UI'">Σελίδα εργασιών σχολείου</font>
        </span>
    </div>
    @*<div class="container body-content">*@
    <div class="row" style="margin:0px 20px 5px 20px">
    @(Html.Kendo().Menu()
      .Name("menu")
      .HtmlAttributes(new { style = "margin-right: 20px; width: 100%;" })
      .Items(items =>
      {
          items.Add().Text("Ρυθμίσεις").ImageUrl(Url.Content("~/Images/phone/appbar.cog.png"))
                .Items(Children =>
               {
                   Children.Add().Text("Στοιχεία του ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.book.open.text.png")).Action("SchoolEdit", "Tools");
                   Children.Add().Text("Ειδικότητες του ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.list.gear.png")).Action("EidikotitesIekList", "Tools");
                   Children.Add().Text("Τμήματα του ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.column.three.png")).Action("IekTmimaList", "Tools");                   
                   Children.Add().Text("Σχολικά έτη").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.year.png")).Action("SchoolYearsList", "Tools");
                   Children.Add().Text("Περίοδοι κατάρτισης").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.range.png")).Action("PeriodosList", "Tools");
                   Children.Add().Text("Βασικές σπουδές").ImageUrl(Url.Content("~/Images/phone/appbar.layer.png")).Action("SpoudesList", "Tools");
                   Children.Add().Text("Απολυτήρια").ImageUrl(Url.Content("~/Images/phone/appbar.layer.png")).Action("ApolytiriaList", "Tools");                  
                   Children.Add().Text("Ειδικότητες κατάρτισης").ImageUrl(Url.Content("~/Images/phone/appbar.list.create.png")).Action("EidikotitesKatartisiList", "Tools");
                   Children.Add().Text("Ωρολόγια προγράμματα").ImageUrl(Url.Content("~/Images/phone/appbar.list.select.png")).Action("EidikotitesLessons", "Tools");                                 
               });
          items.Add().Text("Σπουδαστές").ImageUrl(Url.Content("~/Images/phone/appbar.people.multiple.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Στοιχεία και Εγγραφές").ImageUrl(Url.Content("~/Images/phone/appbar.people.profile.png")).Action("StudentData", "School");
                    Children.Add().Text("Μητρώο σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.folder.people.png")).Action("StudentInfoList", "School");
                    Children.Add().Text("Αιτήσεις σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.edit.png")).Action("StudentAitiseis", "School");
                    Children.Add().Text("Βεβαιώσεις σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.text.png")).Action("StudentBebeoseis", "School");
                    Children.Add().Text("Απαλλαγές μαθημάτων").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("StudentApallages", "School")
                        .LinkHtmlAttributes(new { title = "Μόνο για τα Ατομικά Δελτία, όχι για βαθμολογίες" });
                    Children.Add().Text("Δελτία φοίτησης").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.text.png")).Action("FoitisiDeltiaData", "Document")
                        .LinkHtmlAttributes(new { title = "Όπως τα  Ατομικά δελτία με περιεχόμενο επιτυχόντα και μη εξάμηνα σπουδών" });
                    Children.Add().Text("Ατομικά Δελτία").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.text.png")).Action("AtomikaDeltiaData", "Document")
                        .LinkHtmlAttributes(new { title = "Ατομικά δελτία με περιεχόμενο μόνο τα επιτυχόντα εξάμηνα σπουδών" });
                    Children.Add().Text("ΒΕΚ σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.page.location.png"))
                    .Items(child1 =>
                    {
                        child1.Add().Text("Καταχώρηση").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("StudentBek", "Programma");
                        child1.Add().Text("Μητρώο ΒΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("StudentBekData", "Programma");
                    });
                    Children.Add().Text("Κατάλογος σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("StudentPhoneListPrint", "School")
                        .LinkHtmlAttributes(new { title = "Κατάλογος τηλεφώνων και email σπουδαστών", target = "_blank" });
                    //Children.Add().Text("Εισαγωγή σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.checkmark.pencil.png")).Action("MoriaMain", "School")
                    //    .LinkHtmlAttributes(new { title = "Μοριοδότηση, πίνακες κατάταξης και ένταξη νέων σπουδαστών στο μητρώο" });
                });
          items.Add().Text("Εκπαιδευτές").ImageUrl(Url.Content("~/Images/phone/appbar.people.status.png"))
            .Items(Children =>
            {
                Children.Add().Text("Στοιχεία και απασχόληση").ImageUrl(Url.Content("~/Images/phone/appbar.people.profile.png")).Action("TeacherData", "School");
                Children.Add().Text("Μητρώο εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.table.png")).Action("TeacherInfoList", "School");
                Children.Add().Text("Αναθέσεις εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("AnatheseisData", "School");
                Children.Add().Text("Μητρώο αναθέσεων").ImageUrl(Url.Content("~/Images/phone/appbar.book.list.png")).Action("AnatheseisView", "School");
                Children.Add().Text("Αιτήσεις εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.edit.png")).Action("TeacherAitiseis", "School");
                Children.Add().Text("Βεβαιώσεις ανάληψης").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.edit.png")).Action("TeacherAnalipseis", "School");
                Children.Add().Text("Βεβαιώσεις προϋπηρεσίας").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.text.png")).Action("TeacherBebeoseis", "Programma");
                Children.Add().Text("Αποχωρήσεις εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.clipboard.variant.edit.png")).Action("TeacherWithdrawals", "School");
            });
          items.Add().Text("Πρακτική").ImageUrl(Url.Content("~/Images/phone/appbar.people.multiple.magnify.png"))
              .Items(Children => 
              {
                  Children.Add().Text("Εργοδότες και πρακτική άσκηση").ImageUrl(Url.Content("~/Images/phone/appbar.card.1s.png")).Action("ErgodotesData", "Ergodotes");
                  Children.Add().Text("Μητρώο εργοδοτών πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.card.2s.png")).Action("ErgodotesInfoList", "Ergodotes");
                  Children.Add().Text("Μητρώο σπουδαστών πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.card.3s.png")).Action("RegPraktikiStudents", "Ergodotes");
                  Children.Add().Text("Εξερεύνηση πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.card.4s.png")).Action("StudentPraktikiExplore", "Ergodotes");
                  Children.Add().Text("Έντυπα πρακτικής άσκησης").ImageUrl(Url.Content("~/Images/phone/appbar.card.5s.png"))
                      .Items(children1 => 
                      {
                        children1.Add().Text("Αιτήσεις πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.page.1.png")).Action("PraktikiAitiseis", "Ergodotes");
                        children1.Add().Text("Αποφάσεις πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.page.2.png")).Action("PraktikiApofaseis", "Ergodotes");
                        children1.Add().Text("Βεβαιώσεις παρουσίας").ImageUrl(Url.Content("~/Images/phone/appbar.page.3.png")).Action("PraktikiParousies", "Ergodotes");
                        children1.Add().Text("Βεβαιώσεις περάτωσης").ImageUrl(Url.Content("~/Images/phone/appbar.page.4.png")).Action("PraktikiPeratoseis", "Ergodotes");
                        children1.Add().Text("Έλεγχοι πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.page.5.png")).Action("PraktikiElegxoi", "Ergodotes");
                      });
                  Children.Add().Text("Λοιπά μητρώα πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.card.6s.png"))
                    .Items(children2 =>
                    {
                        children2.Add().Text("Μητρώο αιτήσεων πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.table.png")).Action("RegPraktikiAitiseis", "Ergodotes");
                        children2.Add().Text("Μητρώο αποφάσεων πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.table.png")).Action("RegPraktikiApofaseis", "Ergodotes");
                        children2.Add().Text("Μητρώο βεβαιώσεων παρουσίας").ImageUrl(Url.Content("~/Images/phone/appbar.table.png")).Action("RegPraktikiParousies", "Ergodotes");
                        children2.Add().Text("Μητρώο βεβαιώσεων περάτωσης").ImageUrl(Url.Content("~/Images/phone/appbar.table.png")).Action("RegPraktikiPeratoseis", "Ergodotes");
                        children2.Add().Text("Μητρώο ελέγχων πρακτικής").ImageUrl(Url.Content("~/Images/phone/appbar.table.png")).Action("RegPraktikiElegxoi", "Ergodotes");
                    });
              });
          items.Add().Text("Πρόγραμμα").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.tomorrow.png"))
            .Items(Children =>
            {
                Children.Add().Text("Πρόγραμμα μαθημάτων").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.day.png")).Action("ProgrammaDay", "Programma");
                Children.Add().Text("Έλεγχος προγράμματος").ImageUrl(Url.Content("~/Images/phone/appbar.reply.calendar.png")).Action("ProgrammaDayCheck", "Programma");
                Children.Add().Text("Απουσίες σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.home.people.none.png"))
                .Items(child1 =>
                    {
                        child1.Add().Text("Καταχώρηση απουσιών").ImageUrl(Url.Content("~/Images/phone/appbar.home.people.none.png")).Action("StudentApousies", "Programma");
                        child1.Add().Text("Μη καταχωρημένες απουσίες").ImageUrl(Url.Content("~/Images/phone/appbar.home.people.none.png")).Action("StudentApousies2", "Programma");
                        child1.Add().Text("Συγκεντρωτικές απουσίες").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("StudentDocApousiesLesson", "Programma");
                        child1.Add().Text("Αναλυτικές απουσίες").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("StudentDocApousiesDetail", "Programma");
                    });
                Children.Add().Text("Βαθμολογίες σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.stock.up.png"))
                .Items(child1 =>
                    {
                        child1.Add().Text("Μεταφορά βαθμολογιών").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("StudentGradesTransfer", "Programma")
                            .LinkHtmlAttributes(new { title = "Μεταφέρει τις βαθμολογίες σπουδαστή από το πλέον πρόσφατο αντίστοιχο εξάμηνο" });
                        child1.Add().Text("Καταχώρηση βαθμολογιών").ImageUrl(Url.Content("~/Images/phone/appbar.stock.up.png")).Action("StudentGrades", "Programma");
                        child1.Add().Text("Βαθμολογίες εργασιών").ImageUrl(Url.Content("~/Images/phone/appbar.stock.up.png")).Action("ErgasiesGrades", "Programma");
                        child1.Add().Text("Τελικοί Βαθμοί ανά μάθημα").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("StudentDocGradesMikta", "Programma");
                        child1.Add().Text("Τελικοί βαθμοί ανά σπουδαστή").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("StudentDocGradesFinal", "Programma");
                        child1.Add().Text("Κατάσταση βαθμολογιών εξαμήνων").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("AllGradesReport", "Programma");
                    });
                Children.Add().Text("Καταστάσεις βαθμών και απουσιών").ImageUrl(Url.Content("~/Images/phone/appbar.form.basic.png")).Action("StudentDocGradesApousies", "Programma");
                Children.Add().Text("Παρακολούθηση ωρών μαθημάτων").ImageUrl(Url.Content("~/Images/phone/appbar.checkmark.pencil.top.png")).Action("TmimaLessonHoursMonitor", "Programma");
                Children.Add().Text("Βιβλίο παρουσιών εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.book.hardcover.open.writing.png")).Action("TmimaTeacherParousies", "Programma");
                Children.Add().Text("Μηνιαία κατάσταση ωρών εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.month.png"))
                    .Items(child2 =>
                    {
                        child2.Add().Text("Όλες οι ώρες").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.month.png")).Action("DocTeacherMonthHoursPrint", "Programma")
                            .LinkHtmlAttributes(new { target = "_blank" });
                        child2.Add().Text("Αναπληρώσεις").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.month.png")).Action("DocTeacherMonthAnapliroseisPrint", "Programma")
                            .LinkHtmlAttributes(new { target = "_blank" });
                    });
                Children.Add().Text("Έντυπα τμημάτων (παρουσίες, βαθμοί)").ImageUrl(Url.Content("~/Images/phone/appbar.printer.png"))
                    .Items(children1 =>
                    {
                        children1.Add().Text("Ονομαστικές καταστάσεις σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("TmimaKatastasiGeniki", "Programma");                        
                        children1.Add().Text("Έντυπο για βαθμούς προόδου εξαμήνου").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("TmimaDocGradesProodos", "Programma");
                        children1.Add().Text("Έντυπο για βαθμούς τελικής εξέτασης").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("TmimaDocGradesExam", "Programma");
                        children1.Add().Text("Ημερήσιο παρουσιολόγιο σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("TmimaParousiologio", "Programma");                                                
                    });
            });
          items.Add().Text("Αρχείο").ImageUrl(Url.Content("~/Images/phone/appbar.archive.png"))
            .LinkHtmlAttributes(new { title = "Δεδομένα και εργασίες προγράμματος πριν το σχολικό έτος 2019-2020" })
            .Items(Children =>
            {
                Children.Add().Text("Πρόγραμμα μαθημάτων").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.day.png")).Action("aProgrammaDay", "Archive");
                Children.Add().Text("Βεβαιώσεις προϋπηρεσίας").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("aTeacherBebeoseis", "Archive");
                Children.Add().Text("Μηνιαίες καταστάσεις ωρών").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("aDocTeacherMonthHoursPrint", "Archive")
                    .LinkHtmlAttributes(new { target = "_blank" });
                Children.Add().Text("Βιβλίο παρουσιών εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("aTmimaTeacherParousies", "Archive");
                Children.Add().Text("Παρακολούθηση ωρών μαθημάτων").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("aTmimaLessonHoursMonitor", "Archive");
            });
          items.Add().Text("Στατιστικά").ImageUrl(Url.Content("~/Images/phone/appbar.greek.sigma.lowercase.png"))
              .Items(Children =>
              {
                  //Children.Add().Text("Στοιχεία για ΕΛΣΤΑΤ").ImageUrl(Url.Content("~/Images/phone/appbar.table.select.png")).Action("xReportsElstatList", "School");
                  Children.Add().Text("Συγκεντρωτικά στοιχεία σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.pie.quarter.png")).Action("xReportsSummaryList", "School");
                  Children.Add().Text("Στοιχεία δύναμης σπουδαστών").ImageUrl(Url.Content("~/Images/phone/appbar.graph.histogram.png")).Action("xReportsManpowerList", "School");
                  Children.Add().Text("Στοιχεία για εξωτερικούς φορείς").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("xReportsExternalList", "School");
                  Children.Add().Text("Εκθέσεις γενικής χρήσης").ImageUrl(Url.Content("~/Images/phone/appbar.printer.png")).Action("xReportsCustomList", "School");
              });
          items.Add().Text("E-αιτήσεις").ImageUrl(Url.Content("~/Images/phone/appbar.checkmark.pencil.png"))
              .Items(Children =>
              {
                  Children.Add().Text("Αιτήσεις υποψηφίων").ImageUrl(Url.Content("~/Images/phone/appbar.edit.box.png")).Action("XmAitiseisList", "MoriaSchool");
                  Children.Add().Text("Δικαιολογητικά").ImageUrl(Url.Content("~/Images/phone/appbar.download.png")).Action("sDownloadData", "MoriaSchool");
                  Children.Add().Text("Κατάλογος υποψηφίων").ImageUrl(Url.Content("~/Images/phone/appbar.page.edit.png")).Action("XmCandidatesDataPrint", "MoriaSchool")
                      .LinkHtmlAttributes(new { target = "_blank" });
                  Children.Add().Text("Επεξεργασία κατάταξης").ImageUrl(Url.Content("~/Images/phone/appbar.page.edit.png")).Action("XmAitiseisResults", "MoriaSchool");
                  Children.Add().Text("Πίνακες κατάταξης").ImageUrl(Url.Content("~/Images/phone/appbar.printer.png"))
                  .Items(children =>
                  {
                      children.Add().Text("Πίνακας με ονόματα 1ου ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("XmPinakasIek1Print", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Πίνακας με ονόματα 2ου ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("XmPinakasIek2Print", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Πίνακας για ανάρτηση 1ου ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("XmPinakasPostIek1Print", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Πίνακας για ανάρτηση 2ου ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("XmPinakasPostIek2Print", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                  });
                  Children.Add().Text("Ρυθμίσεις εγκυκλίων").ImageUrl(Url.Content("~/Images/phone/appbar.book.open.text.png"))
                    .Items(children =>
                    {
                        children.Add().Text("Εγκύκλιοι εισαγωγής").ImageUrl(Url.Content("~/Images/phone/appbar.book.hardcover.open.writing.png")).Action("XmEgykliosList", "MoriaSchool");
                        children.Add().Text("Ειδικότητες εγκυκλίων").ImageUrl(Url.Content("~/Images/phone/appbar.list.reorder.down.png")).Action("XmEidikotitesInEgyklios", "MoriaSchool");
                    });                  
                  Children.Add().Text("Στατιστικά αιτήσεων").ImageUrl(Url.Content("~/Images/phone/appbar.radar.screen.png"))
                  .Items(children =>
                  {
                      children.Add().Text("Αιτήσεις ημερήσια").ImageUrl(Url.Content("~/Images/phone/appbar.edit.box.png")).Action("sAitiseisDailyPrint", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Αιτήσεις ανά ΙΕΚ").ImageUrl(Url.Content("~/Images/phone/appbar.edit.box.png")).Action("sSchoolAitiseisPrint", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Αιτήσεις ανά IEK & Ειδικ.").ImageUrl(Url.Content("~/Images/phone/appbar.edit.box.png")).Action("sSchoolEidikotitaAitiseisPrint", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Βασικές σπουδές υποψηφίων").ImageUrl(Url.Content("~/Images/phone/appbar.edit.box.png")).Action("sAitiseisSpoudesPrint", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });
                      children.Add().Text("Σχολική επίδοση υποψηφίων").ImageUrl(Url.Content("~/Images/phone/appbar.edit.box.png")).Action("sAitiseisGradesPrint", "MoriaSchool")
                          .LinkHtmlAttributes(new { target = "_blank" });                                          
                  });
              });
          items.Add().Text("Πρόσθετα").ImageUrl(Url.Content("~/Images/phone/appbar.list.gear.png"))
            .Items(Children =>
            {
                Children.Add().Text("Κλάδοι-Ειδικότητες (Νέο)").ImageUrl(Url.Content("~/Images/phone/appbar.list.reorder.down.png")).Action("EidikotitesList", "Tools");
                Children.Add().Text("Παλαιές " + char.ConvertFromUtf32(0x2194) + " Νέες ειδικότητες").ImageUrl(Url.Content("~/Images/phone/appbar.layer.perspective.up.png"))
                    .Action("EidikotitesOldNewPrint", "Tools").LinkHtmlAttributes(new { target = "_blank" });
                Children.Add().Text("Υποχρεωτικό ωράριο ανά κλάδο").ImageUrl(Url.Content("~/Images/phone/appbar.clock.png")).Action("KladosList", "Tools");
                Children.Add().Text("Ατίες αποχώρησης εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.browser.wire.png")).Action("ApoxorisiAities", "Tools");
                Children.Add().Text("Μετατροπή ωρών σε μήνες και ημέρες").ImageUrl(Url.Content("~/Images/phone/appbar.cog.png")).Action("UtilityHoursConverter", "Tools");
                Children.Add().Text("Μετατροπή βαθμού σε μικτό αριθμό").ImageUrl(Url.Content("~/Images/phone/appbar.calculator.png")).Action("UtilityGradeConverter", "Tools");
                Children.Add().Text("Περιφέρειες και Δήμοι").ImageUrl(Url.Content("~/Images/phone/appbar.browser.wire.png")).Action("PeriferiesDimoi", "Tools");
                Children.Add().Text("Χάρτες Google +").ImageUrl(Url.Content("~/Images/phone/appbar.map.gps.png")).Action("GoogleMaps", "Tools")
                    .LinkHtmlAttributes(new { target = "_blank" });                                                
            });           
      })
        .Orientation(MenuOrientation.Horizontal)
    )

    </div>
    @RenderBody()
    @RenderSection("footer", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
