@model Proteus.Models.ErgodotesPraktikiViewModel
@using Proteus.DAL;
@using Proteus.Models;

@{
    ViewBag.Title = "Αντικείμενο πρακτικής";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
    int ergodotisID = 0; // (int)ViewData["ergodotisId"];
    int praktikiID = Model.ΕΡΓ_ΠΡΑΚΤΙΚΗ_ΚΩΔ;
    PraktikiInfoViewModel InfoData = ViewBag.PraktikiData;
}


<link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>
<script type="text/javascript">
    //Set autoclear of messages. Don't put this into $(document).ready.
    //mvcNotify.autoClearTimeout = 0; //don't autoclear any types
    mvcNotify.autoClearTimeout = 10000; //Unit of milliseconds. Requires mvcNotify.typesToAutoClear to be set to something (default behavior).
    mvcNotify.typesToConsoleLog = "all"; //Log all types to console.
</script>


<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .k-textbox {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

            .k-textbox:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
    </style>
</head>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-header" style="margin:5px 60px 5px 60px">
    </div>
    <div class="container body-content">

        <fieldset id="Data">
            <table class="col-md-12" style="border:solid;border-width:thin;margin:40px 20px 20px 20px">
                <tr id="title">
                    <th style="background-color:#494949;padding-left:20px;padding-top:4px;padding-bottom:4px">
                        <font style="font-family:'Segoe UI';font-size:large;color:white;">Στοιχεία αντικειμένου πρακτικής</font>
                    </th>
                </tr>
                <tr id="Links">
                    <td>
                        <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
                            <a class="btn btn-warning" style="font-family:'Segoe UI';font-size:14px" href="#" onclick="javascript:window.close();opener.window.focus();">Κλείσιμο καρτέλας</a>
                        </span>
                        <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
                            @Html.ActionLink("Βεβαίωση αποδοχής", "PraktikiBebeosiPrint", "Ergodotes", new { praktikiId = praktikiID }, new { @class = "btn btn-info", style = "font-size:14px", target = "_blank" })
                        </span>
                        <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
                            <input style="font-family:'Segoe UI';font-size:14px" type="submit" value="Αποθήκευση" class="btn btn-success" />
                        </span>
                    </td>
                </tr>

                <tr id="info1">
                    <td>
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="control-label">Εργοδότης:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="form-control smartShortText" title="@InfoData.ΕΡΓΟΔΟΤΗΣ_ΕΠΩΝΥΜΙΑ" style="max-height:34px; background-color:#EEE">
                                    @InfoData.ΕΡΓΟΔΟΤΗΣ_ΕΠΩΝΥΜΙΑ
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="info2">
                    <td>
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="control-label">Σπουδαστής:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="form-control smartShortText" title="@InfoData.ΟΝΟΜΑΤΕΠΩΝΥΜΟ)" style="max-height:34px; background-color:#EEE">
                                    @InfoData.ΟΝΟΜΑΤΕΠΩΝΥΜΟ
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="info3">
                    <td>
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="control-label">Ειδικότητα:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="form-control smartShortText" title="@InfoData.EIDIKOTITA_TEXT)" style="max-height:34px; background-color:#EEE">
                                    @InfoData.EIDIKOTITA_TEXT
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="info4">
                    <td>
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="control-label">Ημ/νία από:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="form-control" style="max-height:34px; background-color:#EEE">@InfoData.ΗΜΝΙΑ_ΑΠΟ.Value.ToString("d")</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="info5">
                    <td>
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="control-label">Ημ/νία έως:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="form-control" style="max-height:34px; background-color:#EEE">@InfoData.ΗΜΝΙΑ_ΕΩΣ.Value.ToString("d")</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="info6">
                    <td>
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="control-label">Ώρες πρακτικής:</label>
                            </div>
                            <div class="col-md-8" style="margin-bottom:10px">
                                <label class="form-control" style="max-height:34px; background-color:#EEE">@InfoData.ΩΡΕΣ</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="col-md-9" style="margin-bottom:10px">
                            @Html.LabelFor(model => model.ΒΕΒΑΙΩΣΗ_ΗΜΝΙΑ, new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.ΒΕΒΑΙΩΣΗ_ΗΜΝΙΑ, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ΒΕΒΑΙΩΣΗ_ΗΜΝΙΑ, "", new { @class = "text-danger" })
                        </div>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-9" style="margin-bottom:10px">
                            @Html.LabelFor(model => model.ΑΝΤΙΚΕΙΜΕΝΟ, new { @class = "control-label col-md-3" })
                            @Html.EditorFor(model => model.ΑΝΤΙΚΕΙΜΕΝΟ, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ΑΝΤΙΚΕΙΜΕΝΟ, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-9" style="margin-bottom:10px">
                            @Html.LabelFor(model => model.ΠΕΡΙΓΡΑΦΗ, new { @class = "control-label col-md-3" })
                            @Html.TextAreaFor(model => model.ΠΕΡΙΓΡΑΦΗ, 5, 80, new { @style = "width:520px" })
                            @Html.ValidationMessageFor(model => model.ΠΕΡΙΓΡΑΦΗ, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>

    </div>
    
}   @* ---  End of BeginForm ----------*@
